ion-modal#winningFailModal {
    --height: 42%;
    --width: 80%;
    --min-height: 400px;
    --max-width: 320px;
    --border-radius: 16px;
    --backdrop-opacity: 0.6;
}
ion-modal#winningFailModal::part(backdrop) {
    background: rgb(0, 0, 0);

}
ion-modal#winningFailModal::part(content){
    background: transparent;
}

ion-modal#rulePrizeModal{
    --height: 85%;
    --min-height: 420px;
    --border-radius: 16px 16px 0 0;
    align-items: flex-end;
    --box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

ion-modal#rulePrizeModal::part(backdrop) {
    background: rgb(0, 0, 0);
}
.bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    background-size: 100%;
    background-repeat: no-repeat;
}
.container {
    position: absolute;
    top: 0;
    left: 0;
    img {
        width: 100%;
        height: 100%;
        user-select: none;
        -moz-user-select: none;
        -webkit-user-select: none;
    }
}

