
.container {
  position: relative;
  width: 100%;
  height: calc(100% - 24px);

  border-radius: 8px 8px 0 0;
  .content {
    padding: 24px;
    .close {
      position: absolute;
      font-size: 24px;
      top: 16px;
      right: 16px;
    }
    .tab {
      font-size: 16px;
      .space {
        margin-left: 32px;
      }
      .active {
        font-size: 18px;
        font-weight: bold;
      }
    }
    .block {
      .bg1{
        background: linear-gradient(90deg,rgba(255,248,207,.3),#fff9db80 36%,#ffefa880);
      }
      .bg2{
        background: linear-gradient(90deg,rgba(246,248,254,.3),#f4f8fe80 36%,#eef4fe80);
      }
      .bg3{
        background: linear-gradient(90deg,rgba(255,248,248,.3),#ffeeee80 36%,#ffe7e780);
      }
      .bg4{
        background: linear-gradient(90deg,rgba(246,248,254,.3),rgba(240,241,246,.5) 43%,#f5f5f580);
      }
      .title {
        font-size: 16px;
        margin: var(--ion-margin-lg) 0 var(--ion-margin-sm) 0;
        color: var(--ion-text-color);
        font-weight: bold;
      }
      .item {
        position: relative;
        padding: 16px 16px;
        border-radius: 8px;
         &:not(:first-child) {
          margin-top: 12px;
        }
        img {
          position: absolute;
          top: 0;
          left: 0;
          width: 24px;
          height: 24px;
        }
        .info {
          display: flex;
          justify-content: space-between;
          :first-child {
            margin-left: 8px;
            max-width: 36%;
          }
          :last-child {
            max-width: 56%;
          }
        }
      }
    }
  }
}

